<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
  
  <test name="Testupen">
    <classes>
      <class name="com.qa.pages.PraTest"/>
      <class name="com.qa.pages.PraTest1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
